@{
    ViewBag.Title = "Not Found";
}
<div>
    <h1>@ViewBag.ErrorMessage</h1>
    <h1>@ViewBag.Path : original path</h1> 
    <h1>@ViewBag.Qs : OriginalQueryString</h1>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-success">
        Click here to see the list of emloyees
    </a>
</div>
