@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
}

@* transfer data using viewbag *@
<h1>@ViewBag.PageTitle</h1>
<p>
    name : @ViewBag.Employee.Name
</p>
<p>
    email : @ViewBag.Employee.Email
</p>
<p>
    department : @ViewBag.Employee.Department
</p>